<header class="navbar">
    <section class="navbar-section">
        <h2>Hausautomation</h2>
    </section>

    <section class="navbar-section">
    </section>
</header>

<form>
    <div class="columns">
        <div class="col-sm-12 col-12">
            <div class="columns ml-5">
                <span class="btn btn-sm col-sm-4 col-1 mr-5" (click)="service.allOn()">alle an</span>
                <span class="btn btn-sm col-sm-4 col-1" (click)="service.allOff()">alle aus</span>
            </div>
        </div>

        <div class="col-12">
            <hr/>
        </div>

        <div *ngFor="let relay of service.get()" class="col-sm-12 col-12 mb-5 ml-5">
            <hr *ngIf="relay.id == 8"/>

            <div class="form-group ">
                <button *ngIf="relay.state" class="btn btn-sm">
                    <i class="icon icon-check"></i>
                    Relais {{ relay.getModule() }} {{ relay.id + 1 - (relay.getModule() === 'unten' ? 8 : 0) }}
                </button>

                <button *ngIf="!relay.state" class="btn btn-sm">
                    <i class="icon icon-cross"></i>
                    Relais {{ relay.getModule() }} {{ relay.id + 1 - (relay.getModule() === 'unten' ? 8 : 0) }}
                </button>
            </div>
        </div>

        <hr/>
    </div>
</form>