<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Haussteuerung</h5>
        <div class="card-text">
            <div class="row">
                <div class="col-sm-6  mt-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <button (click)="toggle(relayLightCouch)" class="btn btn-block btn-sm btn-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <line data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="32" y1="33" x2="32" y2="9" stroke-linejoin="miter"></line>
                                        <path data-cap="butt" data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M7,27V15c0-3.3,2.7-6,6-6h38 c3.3,0,6,2.7,6,6v12" stroke-linejoin="miter" stroke-linecap="butt"></path>
                                        <line data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="8" y1="55" x2="8" y2="51" stroke-linejoin="miter"></line>
                                        <line data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="56" y1="55" x2="56" y2="51" stroke-linejoin="miter"></line>
                                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M62,51V32c0-2.8-2.2-5-5-5 l0,0c-2.8,0-5,2.2-5,5v8H12v-8c0-2.8-2.2-5-5-5l0,0c-2.8,0-5,2.2-5,5v19H62z" stroke-linejoin="miter"></path>
                                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M38,27" stroke-linejoin="miter"></path>
                                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M52,40v-1c0-3.3-2.7-6-6-6 H18c-3.3,0-6,2.7-6,6v1" stroke-linejoin="miter"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <button (click)="toggle(relayLightDinner)" class="btn btn-block btn-sm btn-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <path d="M15,5,28.879,18.879a3,3,0,0,1,0,4.242l-5.758,5.758a3,3,0,0,1-4.242,0L5,15" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter"></path>
                                        <line x1="10" y1="10" x2="21" y2="21" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter"></line>
                                        <polyline points="42 46 56 60 60 56 46 42" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter"></polyline>
                                        <line x1="24" y1="28" x2="30" y2="34" fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" data-cap="butt" data-color="color-2" stroke-linecap="butt" stroke-linejoin="miter"></line>
                                        <line x1="28" y1="24" x2="34" y2="30" fill="none" stroke="#ffffff" stroke-miterlimit="10" stroke-width="2" data-cap="butt" data-color="color-2" stroke-linecap="butt" stroke-linejoin="miter"></line>
                                        <path d="M25,39l8,8L57,23A11.314,11.314,0,0,0,57,7h0L8,56l4,4L25,47" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <button (click)="toggle(relayLightPassage)" class="btn btn-block btn-sm btn-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <polyline data-cap="butt" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" points="9,2 38,14 38,30 38,60 9,48 9,2 55,2 55,48 38,48 " stroke-linejoin="miter" stroke-linecap="butt"></polyline>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mt-2">
                    <div class="row">
                        <div *ngIf="relayOutletTV.state" class="col-sm-12">
                            <button (click)="set(relayOutletTV, false)" class="btn btn-block btn-sm btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <line data-cap="butt" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" x1="32" y1="43" x2="32" y2="35" stroke-linejoin="miter" stroke-linecap="butt"></line>
                                        <rect x="7" y="3" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="50" height="32" stroke-linejoin="miter"></rect>
                                        <rect x="12" y="8" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="40" height="22" stroke-linejoin="miter"></rect>
                                        <polyline fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="24,47 24,43 40,43 40,47 " stroke-linejoin="miter"></polyline>
                                        <polyline data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 62,61 62,47 2,47 2,61 " stroke-linejoin="miter"></polyline>
                                        <line data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="2" y1="55" x2="62" y2="55" stroke-linejoin="miter"></line>
                                    </g>
                                </svg>
                            </button>
                        </div>

                        <div *ngIf="!relayOutletTV.state" class="col-sm-12">
                            <button (click)="set(relayOutletTV, true)" class="btn btn-block btn-sm btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <line data-cap="butt" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" x1="32" y1="43" x2="32" y2="35" stroke-linejoin="miter" stroke-linecap="butt"></line>
                                        <rect x="7" y="3" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="50" height="32" stroke-linejoin="miter"></rect>
                                        <rect x="12" y="8" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="40" height="22" stroke-linejoin="miter"></rect>
                                        <polyline fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="24,47 24,43 40,43 40,47 " stroke-linejoin="miter"></polyline>
                                        <polyline data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points=" 62,61 62,47 2,47 2,61 " stroke-linejoin="miter"></polyline>
                                        <line data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="2" y1="55" x2="62" y2="55" stroke-linejoin="miter"></line>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div *ngIf="relayLightShelf.state" class="col-sm-12">
                            <button (click)="set(relayLightShelf, false)" class="btn btn-block btn-sm btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <rect x="3" y="3" width="58" height="58" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></rect>
                                    </g>
                                </svg>
                            </button>
                        </div>

                        <div *ngIf="!relayLightShelf.state" class="col-sm-12">
                            <button (click)="set(relayLightShelf, true)" class="btn btn-block btn-sm btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <rect x="3" y="3" width="58" height="58" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></rect>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div *ngIf="relayLightFireplace.state" class="col-sm-12">
                            <button (click)="set(relayLightFireplace, false)" class="btn btn-block btn-sm btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" points="32,51.2 54.5,59.3 58,49.6 47.1,45.7 " stroke-linejoin="miter" stroke-linecap="butt"></polyline>
                                        <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" points="18.5,35.3 9.5,32 6,41.7 16.9,45.6 " stroke-linejoin="miter" stroke-linecap="butt"></polyline>
                                        <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" points="45.5,35.3 54.5,32 58,41.7 9.5,59.3 6,49.6 25.6,42.5 " stroke-linejoin="miter" stroke-linecap="butt"></polyline>
                                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M47,28.4C47,19.9,32,4,32,4 S17,19.9,17,28.4C17,37,23.7,44,32,44C40.3,44,47,37,47,28.4z" stroke-linejoin="miter"></path>
                                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M32,36c-3.9,0-7-3.4-7-7.6 c0.1-2,3-7,7-12.1c4,5.2,6.9,10.1,7,12.1C39,32.6,35.9,36,32,36z" stroke-linejoin="miter"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>

                        <div *ngIf="!relayLightFireplace.state" class="col-sm-12">
                            <button (click)="set(relayLightFireplace, true)" class="btn btn-block btn-sm btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" points="32,51.2 54.5,59.3 58,49.6 47.1,45.7 " stroke-linejoin="miter" stroke-linecap="butt"></polyline>
                                        <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" points="18.5,35.3 9.5,32 6,41.7 16.9,45.6 " stroke-linejoin="miter" stroke-linecap="butt"></polyline>
                                        <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" points="45.5,35.3 54.5,32 58,41.7 9.5,59.3 6,49.6 25.6,42.5 " stroke-linejoin="miter" stroke-linecap="butt"></polyline>
                                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M47,28.4C47,19.9,32,4,32,4 S17,19.9,17,28.4C17,37,23.7,44,32,44C40.3,44,47,37,47,28.4z" stroke-linejoin="miter"></path>
                                        <path fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M32,36c-3.9,0-7-3.4-7-7.6 c0.1-2,3-7,7-12.1c4,5.2,6.9,10.1,7,12.1C39,32.6,35.9,36,32,36z" stroke-linejoin="miter"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div *ngIf="relayHeatingFireplace.state" class="col-sm-12">
                            <button (click)="set(relayHeatingFireplace, false)" class="btn btn-block btn-sm btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <path d="M54,45.048A69.75,69.75,0,0,1,62,47V10S50,6,32,6,2,10,2,10V47a75.575,75.575,0,0,1,10-2.318" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></path>
                                        <path d="M20,58c8-8,0-16,0-16s-8-8,0-16" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter"></path>
                                        <path d="M32,58c8-8,0-16,0-16s-8-8,0-16" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter"></path>
                                        <path d="M44,58c8-8,0-16,0-16s-8-8,0-16" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>

                        <div *ngIf="!relayHeatingFireplace.state" class="col-sm-12">
                            <button (click)="set(relayHeatingFireplace, true)" class="btn btn-block btn-sm btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" stroke-width="2">
                                    <g stroke-width="2" transform="translate(0, 0)">
                                        <path d="M54,45.048A69.75,69.75,0,0,1,62,47V10S50,6,32,6,2,10,2,10V47a75.575,75.575,0,0,1,10-2.318" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></path>
                                        <path d="M20,58c8-8,0-16,0-16s-8-8,0-16" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter"></path>
                                        <path d="M32,58c8-8,0-16,0-16s-8-8,0-16" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter"></path>
                                        <path d="M44,58c8-8,0-16,0-16s-8-8,0-16" fill="none" stroke="#ffffff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" data-color="color-2" stroke-linejoin="miter"></path>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
