<ion-header>
    <ion-navbar>
        <ion-title>Switches</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col>
            <button (click)="allOn()" ion-button block color="primary">Alle an</button>
        </ion-col>

        <ion-col>
            <button (click)="allOff()" ion-button block color="primary">Alle aus</button>
        </ion-col>
    </ion-row>

    <ion-row *ngFor="let x of relays">
        <ion-col>
            <ion-item-divider *ngIf="x.id == 8"></ion-item-divider>

            <button (click)="set(x, true)" ion-button block color="primary">
                Relais {{ x.getModule() }} {{ x.id + 1 - (x.getModule() === 'unten' ? 8 : 0) }} an
            </button>
        </ion-col>

        <ion-col>
            <ion-item-divider *ngIf="x.id == 8"></ion-item-divider>

            <button (click)="set(x, false)" ion-button block color="primary">
                Relais {{ x.getModule() }} {{ x.id + 1 - (x.getModule() === 'unten' ? 8 : 0) }} aus
            </button>
        </ion-col>
    </ion-row>
</ion-content>
